
@media (min-width: 360px){
    .toplinks{
        font-size: .9em;
    }
    
    h3{
        font-size: 1.1em;
    }
}

@media (min-width: 540px){
    h1{
        width: 35%;
        font-size: 1.5em;
    }
    
    h2{
        width: 35%;
        font-size: 1.4em;
    }
    h3{
        font-size: .9em;
        margin: 5% 0;
    }
    
    .topTitleFull{
        padding: 1% 0 1% 2.5%;
        margin: 2.5% 0;
    }
    
    p{
        font-size: 1.2em;
    }
    
    .toplinks{
        font-size: 1.2em;
    }
    
    .left{
        width: 45%;
        float: left;
    }

    .right{
        width: 45%;
        float: right;
    }
    
    .split{
        clear: left;
    }
    
    .split h3, .fullleft{
        width: 45%;
        padding: 1% 0% 1% 2.5%;
    }
    
    .fullright{
        width: 45%;
        padding: 1% 2.5% 1% 0;
    }
    
    .picleft, .picright{
        margin: 1%;
        width: 25%;
    }
    
    footer ul li{
        font-size: 1.2em;
    }
    
    .signature{
        font-size: .85em;
        margin: 1% 0 2%;
    }
    
    .portfolio li{
        float: left;
        width: 46%;
        margin: 0;
    }
    
    .portfolio li:nth-child(2n+1){
        clear: both;
        margin: 0 2.5% 0 0;
    }
    
    .portfolio li:nth-child(2n){
        margin: 0 0 0 2.5%;
    }
    
    .portfolio li h3{
        width: 100%;
        padding: 2% 0 2% 5%;
    }
}

@media (min-width: 840px){
    h3{
        font-size: 1.4em;
    }
}